.v-application {
  font-family: SF UI Display, Helvetica, Arial, ubuntu, sans-serif !important;
  font-size: 16px;

  .v-application--wrap {
    min-height: 100% !important;
  }

  .flex-1 {
    flex: 1;
  }
}

.hint {
  padding: 8px 15px;
  margin-bottom: 1em;
  &.hint-warning {
    background: rgb(255, 254, 219);
    color: rgb(197, 105, 0);
  }
  p {
    margin: 0 0 4px 0 !important;
  }
}

